@media screen and (max-width: 1025px) {
  .header-logo {
    left: 0;
  }
  .main-content.content-advantages {
    width: 964px;
    padding: 0;
    margin-left: 50px;
    margin-top: 40px;
  }
  .main-content.content-advantages-item {
    width: 150px;
    margin: 20px 40px;
  }
  .main-content.content-appreciate-advantages {
    width: 960px;
  }
  .main-content.content-appreciate-advantages-item {
    width: 300px;
  }
  .main-content.content-circles {
    padding-bottom: 100px;
  }
  .main-content.content-circles-item-number {
    font-size: 70px !important;
  }
  .main-content.content-circles-item {
    margin: 0 20px;
    height: 220px;
  }
  .main-content.content-circles-item p {
    font-size: 18px;
    width: 180px;
  }
  .main-content.content-doctors {
    width: 950px;
  }
  .main-content.content-doctors-item img {
    width: 450px;
  }
  .main-content.content-chief {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main-content.content-chief img {
    height: 100%;
    width: 100%;
  }
  .main-content.content-chief-text {
    width: 90%;
  }
  #form-bottom button {
    font-size: 18px;
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  .main-content.content-chief-text-sign img {
    width: auto;
    height: auto;
  }
  .main-content.content-gallery {
    width: 980px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .main-content.content-gallery-license {
    padding-left: 30px;
    width: 225px;
  }

  .contacts-flex {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
  }
}
@media screen and (max-width: 1280px) {
  .ourworks-container {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .header-contacts {
    display: none;
  }
  .header {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 413px) {
  .ourworks-image {
    width: 100%;
  }
}
